---
import { ViewTransitions } from "astro:transitions";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Colophon from "@/components/Colophon.astro";

interface Props {
  title: string;
  description: string;
  ogImage: string;
}

const { title: baseTitle, description, ogImage } = Astro.props;

const title = `${baseTitle} | Eat Your Own Head`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title} | Eat Your Own Head</title>

    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.request.url} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:site_name" content="Eat Your Own Head" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@eyohmusic" />

    <link rel="preconnect" href="https://use.typekit.net" />
    <link rel="preconnect" href="https://p.typekit.net" />
    <link rel="stylesheet" href="https://use.typekit.net/rnw6tcb.css" />

    <slot name="head" />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot name="hero" />
    <div class="page__boundary">
      <div class="page">
        <main class="page__content">
          <slot />
        </main>
        <Footer />
      </div>
      <Colophon />
    </div>
  </body>
</html>

<style is:global lang="scss">
  :root {
    --color-primary-500: #dc9d76;
    --color-white: #fff;
    --color-black-300: #ccc;
    --color-black-500: #8b8b8b;
    --color-black-700: #444;
    --color-black-800: #2a2a2a;
    --color-black-900: #1a1a1a;
    --color-black-950: #121212;

    --anim-duration: 200ms;
  }

  @import "@/styles/base/reset";
  @import "@/styles/base/global";
  @import "@/styles/base/typography";

  @import "@/styles/components/box";
  @import "@/styles/components/button";
  @import "@/styles/components/container";
  @import "@/styles/components/heading";
  @import "@/styles/components/page";

  @import "@/styles/utils/accessibility";
</style>
